@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Montserrat:400");
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  background: rgb(249, 250, 244);
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: rgb(31, 31, 31);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc((1vw + 1vh) * 3);
  font-weight: 700;
  margin: calc((1vw + 1vh) * 1.5) calc((1vw + 1vh) * 0);
  text-decoration: none;
  text-transform: uppercase;
  text-transform: uppercase;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc((1vw + 1vh) * 2.5);
  font-weight: 700;
  margin: calc((1vw + 1vh) * 1.25) calc((1vw + 1vh) * 0);
  text-decoration: none;
  text-transform: uppercase;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc((1vw + 1vh) * 2);
  font-weight: 500;
  margin: calc((1vw + 1vh) * 1) calc((1vw + 1vh) * 0);
  text-decoration: none;
  text-transform: uppercase;
}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc((1vw + 1vh) * 1.5);
  font-weight: 500;
  margin: calc((1vw + 1vh) * 0.75) calc((1vw + 1vh) * 0);
  text-decoration: none;
  text-transform: uppercase;
}

h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc((1vw + 1vh) * 1);
  font-weight: 300;
  margin: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 0);
  text-decoration: none;
  text-transform: uppercase;
}

small {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc((1vw + 1vh) * 0.5);
  font-weight: 300;
  margin: calc((1vw + 1vh) * 0.25) calc((1vw + 1vh) * 0);
  text-decoration: none;
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
}

div[id*=Screen] {
  display: flex;
  flex-direction: column;
  margin-top: calc((1vw + 1vh) * 3);
}

header {
  display: flex;
  width: 100vw;
  height: calc((1vw + 1vh) * 3);
  background-color: rgba(31, 31, 31, 0.9);
  position: fixed;
  color: rgb(249, 250, 244);
  z-index: 9999;
  top: 0;
  backdrop-filter: blur(5px);
}

footer {
  display: flex;
  width: 100vw;
  height: calc((1vw + 1vh) * 10);
  background-color: rgb(31, 31, 31);
  color: rgb(249, 250, 244);
  z-index: 9999;
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 2.5);
  flex-direction: row;
  justify-content: space-between;
}
header .container img {
  width: auto;
  height: calc((1vw + 1vh) * 2);
  max-height: 100%;
  max-width: 100%;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0);
  cursor: pointer;
}
header .container nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  border: none;
  gap: 0 calc((1vw + 1vh) * 2);
}
header .container nav button {
  background-color: inherit;
  color: rgb(249, 250, 244);
  font-size: calc((1vw + 1vh) * 0.6);
  font-family: "Montserrat", sans-serif;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 1);
  cursor: pointer;
  border: calc((1vw + 1vh) * 0.1) solid transparent;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  font-weight: 500;
}
header .container nav button:hover {
  background-color: transparent;
  color: rgb(190, 38, 76);
  border: calc((1vw + 1vh) * 0.1) solid rgb(190, 38, 76);
  border-radius: calc((1vw + 1vh) * 0.5);
}
header .container a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc((1vw + 1vh) * 2);
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 1.5);
  background-color: rgb(190, 38, 76);
  color: rgb(249, 250, 244);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  cursor: pointer;
  border-radius: calc((1vw + 1vh) * 0.25);
  border: calc((1vw + 1vh) * 0.1) solid rgb(190, 38, 76);
  font-weight: 700;
}
header .container a:hover {
  background-color: transparent;
  color: rgb(190, 38, 76);
  border-radius: calc((1vw + 1vh) * 0.5);
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 5);
  flex-direction: row;
  justify-content: space-between;
}
footer .container .item {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  font-size: calc((1vw + 1vh) * 0.5);
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 0.5);
  transform: translateX(-100px);
  opacity: 0;
}
footer .container .item img {
  width: auto;
  height: calc((1vw + 1vh) * 2);
  max-height: 100%;
  max-width: 100%;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0);
  cursor: pointer;
}
footer .container .contact-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 0.5);
  transform: translateX(-100px);
  opacity: 0;
}
footer .container .contact-info p {
  text-align: center;
}
footer .container .navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 0.5);
  justify-content: space-evenly;
  transform: translateX(100px);
  opacity: 0;
}
footer .container .navigation nav {
  display: flex;
  flex-direction: column;
}
footer .container .navigation nav button {
  background-color: inherit;
  color: rgb(249, 250, 244);
  font-size: calc((1vw + 1vh) * 0.6);
  font-family: "Montserrat", sans-serif;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 1);
  cursor: pointer;
  border: calc((1vw + 1vh) * 0.1) solid transparent;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  font-weight: 500;
  height: calc((1vw + 1vh) * 2);
}
footer .container .navigation nav button:hover {
  background-color: transparent;
  color: rgb(190, 38, 76);
  border: calc((1vw + 1vh) * 0.1) solid rgb(190, 38, 76);
  border-radius: calc((1vw + 1vh) * 0.5);
}
footer .container .info {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 0.5);
  justify-content: start;
  transform: translateX(100px);
  opacity: 0;
}
footer .container .info h5 {
  margin-bottom: calc((1vw + 1vh) * 0.5);
}
footer .container .info nav {
  display: flex;
  flex-direction: column;
  gap: calc((1vw + 1vh) * 0.5) 0;
  justify-content: center;
  align-items: center;
}
footer .container .info nav button {
  background-color: inherit;
  color: rgb(249, 250, 244);
  font-size: calc((1vw + 1vh) * 0.6);
  font-family: "Montserrat", sans-serif;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 1);
  cursor: pointer;
  border: calc((1vw + 1vh) * 0.1) solid transparent;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  font-weight: 500;
  height: calc((1vw + 1vh) * 2);
  width: 50%;
}
footer .container .info nav button:hover {
  background-color: transparent;
  color: rgb(190, 38, 76);
  border: calc((1vw + 1vh) * 0.1) solid rgb(190, 38, 76);
  border-radius: calc((1vw + 1vh) * 0.5);
}

.container .advantages {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  bottom: calc((1vw + 1vh) * 0);
  translate: 0 50%;
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 0.5);
  background: rgb(249, 250, 244);
  color: rgb(31, 31, 31);
  border-radius: calc((1vw + 1vh) * 1);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  -webkit-box-shadow: 0 calc((1vw + 1vh) * 0.25) calc((1vw + 1vh) * 1) 0 rgba(31, 31, 31, 0.25);
  -moz-box-shadow: 0 calc((1vw + 1vh) * 0.25) calc((1vw + 1vh) * 1) 0 rgba(31, 31, 31, 0.25);
  box-shadow: 0 calc((1vw + 1vh) * 0.25) calc((1vw + 1vh) * 1) 0 rgba(31, 31, 31, 0.25);
  gap: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0.5);
}
.container .advantages:hover .advantage {
  border-radius: calc((1vw + 1vh) * 0.5);
}
.container .advantages h5 {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: calc((1vw + 1vh) * 1);
}
.container .advantages h5 span:first-child {
  color: rgb(190, 38, 76);
}
.container .advantages .advantage {
  width: calc((1vw + 1vh) * 10);
  border-radius: calc((1vw + 1vh) * 0.5);
}
.container .advantages .advantage strong {
  display: flex;
  width: 100%;
  padding: calc((1vw + 1vh) * 0.5);
  justify-content: center;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
.container .advantages .advantage img {
  width: auto;
  height: calc((1vw + 1vh) * 2.5);
  max-height: 100%;
  max-width: 100%;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0);
  margin-top: calc((1vw + 1vh) * 1);
  color: rgb(190, 38, 76);
  filter: invert(7%) sepia(5%) saturate(372%) hue-rotate(314deg) brightness(89%) contrast(86%);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
.container .advantages .advantage p {
  width: 100%;
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0.5);
  display: flex;
  flex-wrap: wrap;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
.container .advantages .advantage:hover strong {
  color: rgb(190, 38, 76);
}
.container .advantages .advantage:hover p {
  color: rgb(190, 38, 76);
}
.container .advantages .advantage:hover img {
  filter: invert(23%) sepia(31%) saturate(6044%) hue-rotate(327deg) brightness(86%) contrast(91%);
}
.container .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-transform: uppercase;
}
.container .item img {
  width: auto;
  height: calc((1vw + 1vh) * 17.5);
  max-height: 100%;
  max-width: 100%;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0);
}
.container .item .call-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc((1vw + 1vh) * 2);
  padding: calc((1vw + 1vh) * 1) calc((1vw + 1vh) * 5);
  background-color: rgb(190, 38, 76);
  color: rgb(249, 250, 244);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  cursor: pointer;
  border-radius: calc((1vw + 1vh) * 0.25);
  border: calc((1vw + 1vh) * 0.1) solid rgb(190, 38, 76);
  margin-bottom: calc((1vw + 1vh) * 5);
}
.container .item .call-btn:hover {
  background-color: transparent;
  color: rgb(190, 38, 76);
  border-radius: calc((1vw + 1vh) * 0.5);
}
.container .item .call-btn i {
  margin-left: calc((1vw + 1vh) * 0.25);
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
.container .item .call-btn:hover i {
  margin-left: calc((1vw + 1vh) * 0.5);
}
.container .item .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((1vw + 1vh) * 25);
  height: calc((1vw + 1vh) * 4.5);
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0);
  border-radius: 0 calc((1vw + 1vh) * 3) calc((1vw + 1vh) * 3) 0;
  background: rgba(249, 250, 244, 0.1);
  justify-content: space-between;
  font-size: calc((1vw + 1vh) * 1);
  margin-bottom: calc((1vw + 1vh) * 2);
}
.container .item .container a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 1);
  background-color: transparrent;
  color: rgb(249, 250, 244);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  cursor: pointer;
  border-radius: calc((1vw + 1vh) * 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 0);
}
.container .item .container a:hover {
  background-color: transparent;
  color: rgb(190, 38, 76);
  border-radius: calc((1vw + 1vh) * 0.5);
}
.container .item .container a span {
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
.container .item .container a:hover {
  color: rgb(249, 250, 244);
}
.container .item .container a:hover span:first-child {
  color: rgb(249, 250, 244);
}
.container .item .container a:hover span:nth-child(2) {
  color: rgb(190, 38, 76);
}
.container .item .container a:hover #whatsApp {
  color: #32d750;
}
.container .item .container a:hover #telegram {
  color: #409ed7;
}
.container .item .container a i {
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  font-size: calc((1vw + 1vh) * 2.5);
  border-radius: 50%;
}
.container .item .container a:first-child {
  border-right: calc((1vw + 1vh) * 0.1) dashed rgba(249, 250, 244, 0.25);
  border-radius: 0;
}
.container .item .container a:first-child:hover {
  color: rgb(249, 250, 244);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(31, 31, 31);
  color: rgb(249, 250, 244);
  padding: calc((1vw + 1vh) * 1) calc((1vw + 1vh) * 0.5);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  position: relative;
}
section:nth-child(2n) {
  background: rgb(249, 250, 244);
  color: rgb(31, 31, 31);
  padding: calc((1vw + 1vh) * 1) calc((1vw + 1vh) * 0.5 * 25);
}
section .lines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  margin: 0 0 calc((1vw + 1vh) * 1) 0;
}
section .lines hr:first-child {
  height: calc((1vw + 1vh) * 0.25);
  width: 1%;
  border: none;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
section .lines hr:last-child {
  height: calc((1vw + 1vh) * 0.25);
  width: 98%;
  border: none;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
section:first-child:before {
  content: "";
  position: absolute;
  background-image: url("Images/MieleBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: grayscale(100%) blur(1px);
  opacity: 0.5;
}
section:nth-child(2) {
  padding-top: calc((1vw + 1vh) * 2);
}
section *, section *:before, section *:after {
  z-index: 2;
}
section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0);
  flex-direction: row;
}
section .appliances {
  width: 100%;
  min-height: 80vh;
  display: grid;
  position: sticky;
  top: calc((1vw + 1vh) * 3.75);
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: calc((1vw + 1vh) * 0) 2.5%;
  justify-content: space-between;
  overflow-x: auto;
  align-items: center;
  scroll-snap-type: inline mandatory;
  padding: calc((1vw + 1vh) * 0) 5% calc((1vw + 1vh) * 0) 5%;
}
section .appliances .appliance {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(236, 232, 225);
  border-radius: calc((1vw + 1vh) * 0.5);
  scroll-snap-align: center;
}
section .appliances .appliance .container {
  display: flex;
  flex-direction: row;
  padding: calc((1vw + 1vh) * 0.5);
  width: 100%;
  height: 100%;
}
section .appliances .appliance .container .item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;
  padding: calc((1vw + 1vh) * 1);
  gap: calc((1vw + 1vh) * 1) calc((1vw + 1vh) * 0);
}
section .appliances .appliance .container .item:first-child span {
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
section .appliances .appliance .container .item:first-child span:hover {
  color: rgb(190, 38, 76);
}
section .appliances .appliance .container .item h5 {
  color: rgb(190, 38, 76);
  font-weight: 700;
  margin: 0;
}
section .appliances .appliance .container .item img {
  width: auto;
  height: calc((1vw + 1vh) * 20);
  max-height: 100%;
  max-width: 100%;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0);
  object-fit: contain;
  object-position: center;
  scale: 1;
}

#appliances .container {
  justify-content: left;
  align-items: start;
}
#appliances .services {
  width: 100%;
  display: grid;
  height: auto;
  justify-content: start;
  grid-template-columns: repeat(3, 32%);
  gap: calc((1vw + 1vh) * 1) 2%;
  overflow-x: hidden;
}
#appliances .services .service-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  background: rgb(236, 232, 225);
  overflow: hidden;
  border-radius: calc((1vw + 1vh) * 0.25);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  transform: translateX(-100px);
  opacity: 0;
}
#appliances .services .service-card:hover {
  border-radius: calc((1vw + 1vh) * 0.5);
}
#appliances .services .service-card img {
  width: auto;
  height: calc((1vw + 1vh) * 10);
  max-height: 100%;
  max-width: 100%;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0);
  object-fit: cover;
}
#appliances .services .service-card a {
  text-transform: uppercase;
  color: rgb(31, 31, 31);
  background: rgb(236, 232, 225);
  font-size: calc((1vw + 1vh) * 0.75);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 75%;
  height: calc((1vw + 1vh) * 2);
  top: calc((1vw + 1vh) * 6);
  margin: 0;
  padding: calc((1vw + 1vh) * 0.25) calc((1vw + 1vh) * 0.5);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
#appliances .services .service-card a:hover {
  background: rgb(190, 38, 76);
  color: rgb(236, 232, 225);
}
#appliances .services .service-card span {
  display: flex;
  height: calc((1vw + 1vh) * 1.75);
  text-align: left;
  align-items: center;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0.5);
  color: rgb(31, 31, 31);
  font-size: calc((1vw + 1vh) * 0.6);
  font-weight: 500;
}

#faq {
  padding-top: calc((1vw + 1vh) * 3);
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-x: hidden;
}
#faq .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow-x: hidden;
}
#faq .container .faq-item {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(-100px);
}
#faq .container .faq-item:nth-child(2n) {
  flex-direction: row-reverse;
}
#faq .container .faq-item:nth-child(2n) .container {
  align-items: end;
  text-align: right;
}
#faq .container .faq-item .container {
  justify-content: center;
  align-items: start;
  width: 55%;
  text-align: left;
}
#faq .container .faq-item .container h5 {
  color: rgb(190, 38, 76);
  text-align: left;
}
#faq .container .faq-item .container p {
  margin-bottom: calc((1vw + 1vh) * 1);
}
#faq .container .faq-item .container a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc((1vw + 1vh) * 2);
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 1.5);
  background-color: rgb(190, 38, 76);
  color: rgb(249, 250, 244);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  cursor: pointer;
  border-radius: calc((1vw + 1vh) * 0.25);
  border: calc((1vw + 1vh) * 0.1) solid rgb(190, 38, 76);
}
#faq .container .faq-item .container a:hover {
  background-color: transparent;
  color: rgb(190, 38, 76);
  border-radius: calc((1vw + 1vh) * 0.5);
}
#faq .container .faq-item .container a i {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  margin-left: calc((1vw + 1vh) * 0.25);
}
#faq .container .faq-item .container a:hover i {
  margin-left: calc((1vw + 1vh) * 0.5);
}
#faq .container .faq-item .container:first-child {
  width: 45%;
  padding: calc((1vw + 1vh) * 5);
}
#faq .container .faq-item .container:nth-child(2) img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}
#faq .guarantees {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
#faq .guarantees .guarantee {
  padding: 0 calc((1vw + 1vh) * 2.5);
  display: flex;
  flex-direction: column;
  width: 30%;
  transform: translateY(-250px);
  opacity: 0;
}
#faq .guarantees .guarantee img {
  width: auto;
  height: calc((1vw + 1vh) * 5);
  max-height: 100%;
  max-width: 100%;
  padding: calc((1vw + 1vh) * 0.1) calc((1vw + 1vh) * 0.1);
  color: rgb(190, 38, 76);
  filter: invert(23%) sepia(31%) saturate(6044%) hue-rotate(327deg) brightness(86%) contrast(91%);
  object-fit: contain;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
#faq .guarantees .guarantee h5 {
  color: rgb(190, 38, 76);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  height: calc((1vw + 1vh) * 2.5);
}
#faq .guarantees .guarantee p {
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
#faq .guarantees .guarantee:hover img {
  filter: invert(35%) sepia(18%) saturate(2010%) hue-rotate(294deg) brightness(98%) contrast(92%);
}
#faq .guarantees .guarantee:hover h5 {
  color: rgb(185, 67, 98);
}
#faq .guarantees .guarantee:hover p {
  color: rgb(236, 232, 225);
}

#team {
  align-items: center;
}
#team .team {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
#team .team .team-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  transform: translateY(-100px);
  opacity: 0;
}
#team .team .team-card h5 {
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
#team .team .team-card img {
  width: auto;
  height: calc((1vw + 1vh) * 10);
  max-height: 100%;
  max-width: 100%;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 0);
  width: calc((1vw + 1vh) * 10);
  border-radius: calc((1vw + 1vh) * 0.25);
  object-fit: cover;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
#team .team .team-card:hover img {
  border-radius: calc((1vw + 1vh) * 0.5);
}
#team .team .team-card:hover h5 {
  color: rgb(190, 38, 76);
}

#map {
  padding-top: calc((1vw + 1vh) * 2);
  overflow-x: hidden;
}
#map .contact {
  display: flex;
  flex-direction: row;
  margin-top: calc((1vw + 1vh) * 1);
  width: 100%;
  justify-content: center;
  align-items: center;
}
#map .contact .item {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0 calc((1vw + 1vh) * 5);
}
#map .contact .item:nth-child(2) {
  width: 40%;
  padding: 0 0 0 calc((1vw + 1vh) * 3);
}
#map .contact .item:nth-child(2) p {
  text-align: left;
}
#map .contact .item:nth-child(2) .contact-us {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: calc((1vw + 1vh) * 1);
}
#map .contact .item:nth-child(2) .contact-us input {
  width: 100%;
  border: calc((1vw + 1vh) * 0.1) solid rgb(190, 38, 76);
  border-right: none;
  padding: calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 1);
  font-size: calc((1vw + 1vh) * 0.75);
  border-radius: calc((1vw + 1vh) * 0.25) 0 0 calc((1vw + 1vh) * 0.25);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
#map .contact .item:nth-child(2) .contact-us input:hover {
  border-radius: calc((1vw + 1vh) * 0.5) 0 0 calc((1vw + 1vh) * 0.5);
}
#map .contact .item:nth-child(2) .contact-us button {
  background-color: rgb(190, 38, 76);
  color: rgb(249, 250, 244);
  font-size: calc((1vw + 1vh) * 0.6);
  font-family: "Montserrat", sans-serif;
  padding: calc((1vw + 1vh) * 0) calc((1vw + 1vh) * 1);
  cursor: pointer;
  border: calc((1vw + 1vh) * 0.1) solid transparent;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  border-radius: 0 calc((1vw + 1vh) * 0.25) calc((1vw + 1vh) * 0.25) 0;
}
#map .contact .item:nth-child(2) .contact-us button:hover {
  background-color: transparent;
  color: rgb(190, 38, 76);
  border: calc((1vw + 1vh) * 0.1) solid rgb(190, 38, 76);
  border-radius: calc((1vw + 1vh) * 0.5);
}
#map .contact .item:nth-child(2) .contact-us button:hover {
  border-radius: 0 calc((1vw + 1vh) * 0.5) calc((1vw + 1vh) * 0.5) 0;
}
#map .item {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  padding: 0 calc((1vw + 1vh) * 1);
}
#map .item:nth-child(2) {
  width: 60%;
}
#map .item h4 {
  margin-bottom: calc((1vw + 1vh) * 1);
}
#map .item a {
  display: flex;
  width: 95%;
  text-align: left;
  align-items: center;
  align-content: center;
  margin-bottom: calc((1vw + 1vh) * 0.5);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
}
#map .item a:last-child {
  margin-bottom: calc((1vw + 1vh) * 0);
}
#map .item a:hover {
  color: rgb(190, 38, 76);
}
#map .item i {
  font-size: calc((1vw + 1vh) * 1);
  color: rgb(190, 38, 76);
  margin-right: calc((1vw + 1vh) * 0.5);
}
#map .item #whatsApp {
  font-size: calc((1vw + 1vh) * 1.15);
}
#map .map {
  transform: translateX(100px);
  opacity: 0;
}
#map [class*=copyrights-pane] {
  display: none !important;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#miele-description {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: start;
  align-items: start;
  padding-top: calc((1vw + 1vh) * 2);
}
#miele-description ul {
  transform: translateX(calc((1vw + 1vh) * 1));
}
#miele-description li {
  margin-bottom: calc((1vw + 1vh) * 0.5);
}
#miele-description p {
  margin-bottom: calc((1vw + 1vh) * 1);
}

.go-up {
  display: flex;
  position: fixed;
  bottom: calc((1vw + 1vh) * 1);
  left: calc((1vw + 1vh) * 1);
  border: calc((1vw + 1vh) * 0.1) solid rgb(31, 31, 31);
  background: rgb(31, 31, 31);
  color: rgb(249, 250, 244);
  font-size: calc((1vw + 1vh) * 0.5);
  padding: calc((1vw + 1vh) * 0.75) calc((1vw + 1vh) * 0.75);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0, 1);
  border-radius: 100%;
  cursor: pointer;
  z-index: 9999;
}
.go-up:hover {
  background: transparent;
  color: rgb(190, 38, 76);
  border: calc((1vw + 1vh) * 0.1) solid rgb(190, 38, 76);
}

/*# sourceMappingURL=index.css.map */
